*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-color: #2C2C3C;
    --btn-primary-color: #F4A261;
    --backgound-card-color: #E5E5E5;
    --background-box-cisterne: #fce3cf;
    --black-color: black;
    --white-color:white;
    --green-section: #10AD4F;
    --yellow-section: #FFCC00;
    --red-section: #CC3300;
    --green-backgound-cisterna: #7ddf64;
    --yellow-backgound-cisterna: #ffefb1;
    --red-background-cisterna: #f78d8d;
}
/*    FLEX ZONE   */
.flex-center{
    display:flex;
    flex-flow: row;
    justify-content:center;
    align-items: center;
}
.flex-center-end{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
}
/*      HOMEPAGE    */
.container_home{
    width:100%;
    height: 93.5vh;
    background-color:var(--backgound-card-color);
}
.title{
    height:25vh;
}
.title img{
    width:8%;
    margin:10px;
}
.log{
    height:10vh;
}
.log h3{
    font-size:22px;
    font-weight:600;
}
.btn-home{
    height:20vh;
}
.btn-home button{
    width:150px;
    height:50px;
    margin:20px;
    font-size:16px;
    border-radius: 5px;
    border:none;
    background-color:var(--btn-primary-color);
    color: var(--black-color);
    font-weight: 500;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.btn-home button:active{
    background-color:var(--navbar-color);
}
.btn-home button:hover{
    color:var(--white-color)
}
.footer-home{
    height: 20vh;
}
/*      ASSISTENZA E SUPPORTO */
.assistence li,.support li{
    margin:15px;
    list-style: circle;
}
.support li{
    font-size: 16px;
}
#right{
    margin-left: 5px;
}
/* GRUPPO UNO E DUE */
.tab{
    width: 230px;
    height: 550px;
    margin: 25px;
}
.tab_name{
     border-radius: 20px;
    text-align: center;
    background-color:var(--btn-primary-color);
    height: 50px;
    margin-bottom: 20px;
}
.tab_el{
    height: 400px;
    width: 230px;
    background-color: var(--background-box-cisterne);
    border-radius: 20px;
    text-align: center;
}
.MuiTab-textColorInherit.Mui-selected{
    background-color: var(--navbar-color);
    color:var(--white-color);
}
#data{
    margin:10px;
}
#cisterna_soglia{
    width:350px;
    height:50px;
    background-color: var(--white-color);
    border-radius: 20px;
    display:flex;
    align-items: center;
    float: left;
    margin:30px 0px 0px 40px;

}
#icon{
    display:flex;
    align-items: center;
}
.site-card-border-less-wrapper {
    height: 350px;
    padding: 10px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

}
#text_dati{
    text-align: center;
}
#current{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
#current span{
    padding: 7px;
}
.loader{
    height: 500px;
}
